:root {
    --primary-color: #f39c12;
    --secondary-color: #121212;
    --text-color: #fff;
    --background-color: #1e1e1e;
    --font-family: 'Arial', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
    color: var(--text-color);
    background: var(--background-color);
    line-height: 1.6;
    transition: background 0.3s, color 0.3s;
}
a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: var(--primary-color);
  }
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

section {
    padding: 2rem;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.hidden {
    display: none !important;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

  
  